@font-face {
  font-family: Typewriter;
  src: url(/library/X-Typewriter/XTypewriter-z8oP4.ttf);
}

* {
  --main: var(--main);
  --complement: var(--complement);
  --light: #f7fdff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background: var(--complement);
  font-size: 2rem;
  font-family: Typewriter, 'Times New Roman', serif;
}
.page-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  color: var(--main);
}
.header-right {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
}

button {
  border-radius: 0px 15px;
  height: 35px;
  width: 170px;
  font-size: 1.2rem;
  margin: 15px 0;
}
#add-book-header-button {
  background-color: var(--main);
  color: var(--complement);
  box-shadow: 5px 5px 0 var(--light);
  margin-right: 50px;
  min-width: 91px;
}

.page-title .icon,
.page-title h1 {
  margin: 10px;
}
.page-title .icon {
  height: 3rem;
  width: 3rem;
}

#book-form {
  border: 3px solid black;
  width: 525px;
  height: 350px;
  display: none;
  grid-template: 60px 250px 25px/ 1fr;
  background-color: var(--light);
  color: var(--main);
  font-family: Typewriter, 'Times New Roman', serif;
  border-radius: 0px 10px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 250px auto;
  transform: translateY(-50%);
}

.book-form form {
  grid-column: span 2;
  margin: 20px 0;
}

.new-book-form-input {
  display: grid;
  grid-template: 1fr / 70px 1fr;
  gap: 10px;
  margin-right: 20px;
}

.new-book-form-title {
  margin: 10px auto;
  font-size: 2rem;
}

.new-book-form-input label {
  justify-self: end;
  font-size: 1.2rem;
  margin: 5px;
}

.new-book-form-input {
  margin: 15px 20px;
}
.new-book-form-input input {
  font-family: Typewriter, 'Times New Roman', serif;
  font-size: 1.2rem;
}

#new-read {
  justify-self: left;
  height: 28px;
  width: 28px;
  display: grid;
  place-content: center;
}

#new-read:checked {
  appearance: none;
  background: var(--main);
  color: var(--complement);
  content: '✓';
}
#new-read:checked::after {
  content: '✓';
  font-size: 2rem;
}

.add-book-button {
  border-radius: 0px 15px;
  background-color: var(--main);
  color: var(--complement);
  height: 35px;
  width: 170px;
  font-size: 1.2rem;
  grid-area: 3/1/4/3;
  justify-self: center;
  margin: 15px 0;
}

.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 420px);
  background-color: var(--light);
}

.card {
  height: 250px;
  width: 400px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 20px 10px;
  box-shadow: 5px 5px 0 rgb(255, 255, 255);
  position: relative;
  overflow: auto;
  background-color: var(--complement);
  font-family: Typewriter, 'Times New Roman', serif;
}

.book-title {
  font-size: 1.5rem;
  color: var(--main);
  background-color: var(--complement);
  margin-right: 0;
  margin: 10px 0px 0 20px;
}

.card p {
  color: var(--main);
}

.card .icon,
.card svg {
  color: var(--light);
  height: 2rem;
  width: 2rem;
  background-color: var(--main);
}

.book-author,
.book-pages {
  margin: 15px 35px;
  font-size: 1.2rem;
}
.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 55px;
}

.trash-it {
  color: var(--light);
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 20px;
  left: 0px;
  top: 185px;
  background-color: var(--main);
  border-radius: 5px;
  border: 1px solid var(--light);
  background-image: url(/library/images/trash-outline.svg);
}

.punch-hole {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: black;
}

.delete-button {
  color: var(--light);
  font-size: 32px;
  height: 32px;
  width: 32px;
  margin: auto;
}

.read-slider {
  margin-right: 20px;
}

.book-read {
  position: absolute;
  left: -70px;
  bottom: 5px;
  font-size: 1.25rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--main);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--main);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--complement);
  color: var(--main);
  text-align: center;
  font-family: Typewriter, 'Times New Roman', serif;
}
