* {
  --brown: #5d352b;
  --complement: #2b535d;
  --light: #d0c6c4;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--light);
}
header {
  background: var(--complement);
  font-size: 2rem;
}
.page-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  color: var(--light);
}
.header-right {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
}

button {
  border-radius: 0px 15px;
  height: 35px;
  width: 170px;
  font-size: 1.2rem;
  margin: 15px 0;
}
#add-book-header-button {
  background-color: var(--light);
  color: var(--complement);
  box-shadow: 5px 5px 0 var(--brown);
  margin-right: 50px;
}

.page-title .icon,
.page-title h1 {
  margin: 10px;
  text-shadow: 3px 3px 3px var(--brown);
}
.page-title .icon {
  height: 3rem;
  width: 3rem;
}

heading {
  position: relative;
}

#book-form {
  border: 1px solid black;
  width: 350px;
  height: 380px;
  display: none;
  grid-template: 60px 250px 25px/ 1fr;
  background-color: var(--light);
  color: var(--brown);
  border-right: 10px solid var(--complement);
  border-radius: 0px 10px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 250px auto;
  transform: translateY(-50%);
}

.book-form form {
  grid-column: span 2;
  margin: 20px 0;
}

.new-book-form-input {
  display: grid;
  grid-template: 1fr / 60px 1fr;
  gap: 10px;
  margin-right: 20px;
}

.new-book-form-title {
  margin: 10px auto;
  font-size: 2rem;
}

.new-book-form-input label {
  justify-self: end;
  font-size: 1.2rem;
  margin: 5px;
}

.new-book-form-input {
  margin: 15px 20px;
}

#new-read {
  justify-self: left;
  height: 28px;
  width: 28px;
  display: grid;
  place-content: center;
}

#new-read:checked {
  appearance: none;
  background: var(--complement);
  color: var(--light);
  content: '✓';
}
#new-read:checked::after {
  content: '✓';
  font-size: 2rem;
}

.add-book-button {
  border-radius: 0px 15px;
  background-color: var(--brown);
  color: var(--light);
  box-shadow: 5px 5px 0 var(--complement);
  height: 35px;
  width: 170px;
  font-size: 1.2rem;
  grid-area: 3/1/4/3;
  justify-self: center;
  margin: 15px 0;
}

.add-book-button {
  background-color: var(--brown);
  color: var(--light);
  box-shadow: 5px 5px 0 var(--complement);
  grid-area: 3/1/4/3;
  justify-self: center;
}

.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  background-color: var(--light);
}
/*   grid-template-columns: repeat(auto-fit, 220px);
  grid-auto-rows: 290px;
  grid-auto-flow: column; */

.card {
  height: 250px;
  width: 200px;
  background-color: var(--complement);
  border-left: 15px solid var(--brown);
  border-radius: 0 15px 15px 0;
  margin: 20px 10px;
  box-shadow: 5px 5px 0 rgb(255, 255, 255);
  position: relative;
  overflow: auto;
}

.book-title {
  font-size: 1.2rem;
  margin: 30px 10px 20px;
  background-color: var(--brown);
  color: var(--light);
  margin-right: 0;
}

.card p {
  background-color: var(--complement);
  color: var(--light);
  font-size: 1rem;
  font-style: italic;
  margin: 10px 25px;
}

.card .icon,
.card svg {
  color: var(--light);
  height: 3rem;
  width: 3rem;
  margin: 10px 25px;
  position: absolute;
  left: 110px;
  top: 175px;
}

#fancy {
  display: block;
  position: absolute;
  color: hotpink;
  left: 1px;
  top: 1px;
  height: 3rem;
  width: 3rem;
}
#read-button001 {
  position: absolute;
  left: 120px;
  top: 175px;
  height: 3rem;
  width: 3rem;
  background: var(--complement);
  border: none;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 24px;
  top: 215px;
  left: 120px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.book-read {
  position: absolute;
  right: 35px;
  bottom: -5px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--brown);
}

input:focus + .slider {
  box-shadow: 0 0 1px hotpink;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
